{% extends "base.html" %}

{% block content %}
<div class="row row-cols3 g-2 m-5 div-list" style="height: 400px; overflow-y: auto; height: 90%">
    {% for book in books %}
        <a href="{% url 'books_detail' pk=book.id %}">
            <div class="col">
                <div class="p-3 border">
                    <h3>{{book.title}}</h3>
                    <p><b></b>{{book.author}}</p>
                </div>
            </div>
        </a>
        {% empty %}
        <p>Start adding books now!</p>
        {% endfor %}
    </div>
{% endblock %}