{% extends "base.html" %}

{% block content %}
<div class="row row-cols3 g-2 m-5" style="height: 600px; overflow-y: auto;">
    {% for book in books %}
        <a href="{% url 'books_detail' pk=book.id %}">
            <div class="col">
                <div class="p-3 border">
                    <h3>{{book.title}}</h3>
                    <p><b></b>{{book.author}}</p>
                </div>
            </div>
        </a>
        {% empty %}
        <p>Start adding books now!</p>
        {% endfor %}
    </div>

    <a href="{% url 'books_add' %}" class="btn btn-primary m-3 rounded-circle btn-lg"><i class="fas fa-plus"></i></a>
    <a href="{% url 'home' %}" class="btn m-3 rounded-circle btn-lg btn-success"><i class="fas fa-home"></i></a>
{% endblock %}