body {
    min-height: 100vh;
    background: #0c192c;
    overflow: hidden;
}
h1, h2, p {
    color: wheat;
} 
.btn-margin {
    margin: 30px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

i {
    color: white;
}

nav {
    height: 80px;
}
.div-list {
    position:absolute;
    top:15px;
    right:-20px;
    bottom:-20px;
    left:-20px;
}
.btn-add {
    color: #ff2d75;
    margin-right: 10px;
}
.btn-add:hover {
    background-color: blue;
}
.btn-home:hover{
    background-color: green;

}
li {
    color: red;
    list-style: none;
}
.navbar-left{
    display: flex;
    align-items: center;
}

.user:hover{
    color: white;
    cursor: default;
}